---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
ObjCSpaceAfterProperty: true
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false